# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List commonly used libraries by Data Scientist
* Name three three development environment open source tools used in Data Science
* Perform a simple arithmetic expression multiplying integers
* Convert minutes to hours by dividing two integers

Some of the popular languages that Data Scientists use are:
1. Pyhton
2. R
3. Julia
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. TensorFlow
4. Matplotlib

|Data Science Tools|
|----|
|JupyterNotebooks|
|RStudio|
|VSCode|

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

## Author

Juan Ortiz